[submodule ".registry"]
	path = .registry
	url = https://github.com/epinowcast/epinowcast.r-universe.dev
	branch = HEAD
[submodule "cmdstanr"]
	path = cmdstanr
	url = https://github.com/stan-dev/cmdstanr
	registered = false
[submodule "epidist"]
	path = epidist
	url = https://github.com/epinowcast/epidist
	branch = v0.2.0
[submodule "epinowcast"]
	path = epinowcast
	url = https://github.com/epinowcast/epinowcast
	branch = v0.3.0
[submodule "hashprng"]
	path = hashprng
	url = https://github.com/epinowcast/hashprng
	branch = v0.2.0
[submodule "loo"]
	path = loo
	url = https://github.com/stan-dev/loo
	registered = false
[submodule "primarycensored"]
	path = primarycensored
	url = https://github.com/epinowcast/primarycensored
	branch = v1.1.0
