[submodule ".registry"]
	path = .registry
	url = https://github.com/epinowcast/universe
	shallow = true
	branch = HEAD
[submodule "epinowcast"]
	path = epinowcast
	url = https://github.com/epinowcast/epinowcast
	shallow = true
	branch = *release
	registered = true
